<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/assets/data/favicon.ico" rel="icon">
    <meta name="author" lang="en" content="mdouchement">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome-all.min.css?hash={{index .checksums "fontawesome-all_min_css"}}">
    <link rel="stylesheet" href="/assets/stylesheets/buefy.min.css?hash={{index .checksums "buefy_min_css"}}">
    <link rel="stylesheet" href="/assets/stylesheets/app.css?hash={{index .checksums "app_css"}}">
  </head>

  <div>
    <body>
      {{.yield}}
    </body>

    <footer>
      <script src="/assets/javascripts/bluebird.core.min.js?hash={{index .checksums "bluebird_core_min_js"}}"></script>
      <script src="/assets/javascripts/clipboard.min.js?hash={{index .checksums "clipboard_min_js"}}"></script>
      <script src="/assets/javascripts/axios.min.js?hash={{index .checksums "axios_min_js"}}"></script>
      <script src="/assets/javascripts/lodash.min.js?hash={{index .checksums "lodash_min_js"}}"></script>
      <script src="/assets/javascripts/buefy.min.js?hash={{index .checksums "buefy_min_js"}}"></script>
      <script src="/assets/javascripts/vue.min.js?hash={{index .checksums "vue_min_js"}}"></script>
      <!-- <script src="/assets/javascripts/vue.js?hash={{index .checksums "vue_js"}}"></script> -->
      <script src="/assets/javascripts/new-item.js?hash={{index .checksums "new-item_js"}}"></script>
      <script src="/assets/javascripts/item.js?hash={{index .checksums "item_js"}}"></script>
      <script src="/assets/javascripts/app.js?hash={{index .checksums "app_js"}}"></script>
    </footer>
  </div>
</html>
