<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/assets/data/favicon.ico" rel="icon">
    <meta name="author" lang="en" content="mdouchement">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{.title}}</title>
    {{range $key, $value := .vendor_styles}}
    <link rel="stylesheet" href="{{$key}}?hash={{index $.checksums $value}}">
    {{end}}
    <link rel="stylesheet" href="/assets/stylesheets/buefy.min.css?hash={{index .checksums "buefy_min_css"}}">
    <link rel="stylesheet" href="/assets/stylesheets/app.css?hash={{index .checksums "app_css"}}">
  </head>

  <div>
    <body>
      {{.yield}}
    </body>

    <footer>
      {{range $key, $value := .vendor_scripts}}
      <script src="{{$key}}?hash={{index $.checksums $value}}"></script>
      {{end}}
      <script src="/assets/javascripts/new-item.js?hash={{index .checksums "new-item_js"}}"></script>
      <script src="/assets/javascripts/item.js?hash={{index .checksums "item_js"}}"></script>
      <script src="/assets/javascripts/app.js?hash={{index .checksums "app_js"}}"></script>
    </footer>
  </div>
</html>
